 /* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
 } */ 

/* body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #ffa5b8, #ffc2cd);
} */

/* .modal {
    width: 400px;
    height: 460px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: .4s;
} */

.modal .modal-header {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* padding: 15px 18px; */
}

.modal .modal-header button {
    /* cursor: pointer; */
    /* font-size: 22px; */
    /* color: #21202c; */
    /* background: transparent; */
}

/* .modal .modal-body {
    text-align: center;
} */

/* .modal .modal-body img {
    width: 40%;
    margin: 10px 0 30px;
} */

/* .modal .modal-body h3 {
    color: #21202c;
    font-size: 40px;
} */

/* .modal .modal-body p {
    color: #5a586d;
    font-size: 16px;
    font-weight: 500;
} */

/* .modal .modal-body button {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
    background: #fe425b;
    color: #ffffff;
    padding: 12px 120px;
    border-radius: 6px;
    letter-spacing: 1px;
    transition: .4s;
} */

/* .modal .modal-body button:hover {
    background: #e0344b;
} */

.modal#hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}
/* #hideButton{
  position: relative;
  right: 100px;
  z-index:0 ;
} */

/* .modal#show {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
} */

#showButton {
    cursor: pointer;
    /* color:rgba(5, 32, 80, .5); */
    /* border: none; */
    /* background: rgba(5, 232, 80, .2); */
    z-index: 0;
    position: absolute;
    height: 60%;
    width: 100%;
    /* background: #21202c; */
    /* color: #ffffff; */
    /* padding: 14px 22px; */
    /* font-size: 18px; */
    /* border-radius: 8px; */
    /* letter-spacing: .5px; */
}
 *{
  margin: 0px;
  padding: 0;
  /* overflow: hidden; */
  /* overflow: hidden; */
  transform: 1s;
scroll-behavior: smooth;


} 

h4{
  font-size: 20px;
  color: #9D9FAB;
}

.login {
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 8%;
  
  border-radius: 30px;
  display: flex;
  margin: 150px auto 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 330px;
  background: #3b5998;
  width: 310px;
}

#logo {
  width: 70px;
  border-radius: 50%;
  /* border: 1px #898F9C solid; */
  position: relative;
  bottom: 65px;

}

form {
 /* transform: 1s; */
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;


  /* margin-top: 100px; */
  /* background: red; */
  /* border: solid greenyellow 2px; */
}

input {
  /* height: 10px; */
  /* font-weight: 400; */
  border-radius: 5px;
  border: wheat;
  /* background-color: #E5E5E5; */
  padding: 13px;
  margin: 4px;
  width: 250px;
  /* text-align: center; */
}

#button {
  background-color: #5890FF;
  color: white;
  
  padding: 10px;
  /* border: none; */
  border-radius: 5px;
  font-size: 18px;
  width: 275px;
  font-weight: 500;
  /* padding: 8px; */
  /* width: 200px; */
}

input[type=text]:focus {
  outline-color: wheat;
}

input[type=password]:focus {
  outline-color: wheat;

}
/* iframe{
  opacity: 0;
} */
